.heading__white-h1 {
    font-family: var(--font-base);
    color: var(--color-black);
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 1rem;
    text-transform: capitalize;

    @media screen and (max-width: 1150px) {
        font-size: 40px;
    }
}