.mb__footer {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 6rem;
    color: var(--color-red);
    font-size: 16px;
    font-family: var(--font-base);

    &-social > * {
        margin-left: .8rem;
        font-size: 20px;
    }
}