.mb__whyus {
    flex-direction: column;

    &-cards {
        
        @media screen and (max-width: 1150px) {
            flex-direction: column;
        }
    }

    &-cards > * + * {
        margin-left: 1.5rem;

        @media screen and (max-width: 1150px) {
            margin-left: 0;
        }
    }

    &-card {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        padding: 2rem;
        border: 1px solid #eee;
        height: calc(100vh / 2.3);

        @media screen and (max-width: 1150px) {
            margin-top: 1.5rem;
        }
        

        &_icon img {
            width: 80%;
        }

        &_title {
            font-size: 22px;
            margin-top: 2rem;
        }

        &_text {
            color: var(--color-gray);
            margin-top: 1.7rem;
            text-align: center;
        }
    }

    

}

