.mb__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: transparent;
    

    &-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 40px;
        }
    }

    &-links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            margin: 0 1rem;
            color: var(--color-gray);
            cursor: pointer;
            text-transform: capitalize;
            position: relative;

            a {
                text-decoration: none;
                color: var(--color-red);
            }

            &::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }

            &::before {
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background: rgba(236, 53, 26, 0.3);
                z-index: -1;
                transition: transform .3s ease;
              }

            &:hover {
                color: var(--color-red) !important;

                &::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                    
                }
            }
        }
    }

    &-login {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            margin: 0 .4rem;
        }

        a {
            // margin: 0 1rem;
            text-decoration: none;
            // transition: 0.5s ease;
            color: var(--color-red);

            // &:hover {
            //     border-bottom: 1px solid var(--color-red);
            // }
        }

        div {
            width: 1px;
            height: 20px;
            background-color: var(--color-red);
        }
    }

    &-smallscreen {
        display: none;

        &_overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(236, 53, 26, 0.9);
            // background: var(--color-red);
            transition: 0.5s ease;
            flex-direction: column;
            z-index: 5;

            .overlay__close {
                font-size: 27px;
                color: var(--color-white);
                cursor: pointer;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }

        &_links {
            list-style: none;

            li {
                margin: 2rem;
                cursor: pointer;
                color: var(--color-white);
                font-size: 2rem;
                text-align: center;
                font-family: var(--font-base);

                &:hover {
                    color: var(--color-grey);
                }
            }
        }
    }
}

.mb__navbar.active {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 251, 251));

}



@media screen and (max-width: 2000px) {
    .mb__navbar-logo img {
        width: 80px;
    }
}

@media screen and (max-width: 1150px) {
    .mb__navbar-links {
        display: none;
    }

    .mb__navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .mb__navbar {
        padding: 1rem 2rem;
    }

    .mb__navbar-login {
        display: none;
    }

    .mb__navbar-logo img {
        width: 80px;
    }
}